.welcome-container {
  display: flex;
  flex-direction: column;
  justify-self: center;
  /* width: fit-content; */
  text-align: center;
  margin-top: 50px;
  font-family: Arial, sans-serif;
}

.welcome-container h1 {
  font-size: 2.5rem;
  color: #e53935; /* Màu đỏ đậm */
  margin-bottom: 20px;
}

.welcome-container p {
  font-size: 1.2rem;
  color: #d32f2f; /* Màu đỏ nhạt */
  margin-bottom: 30px;
}

.login-button {
  padding: 10px 20px;
  align-self: center;
  font-size: 1rem;
  color: white;
  width: fit-content;
  background-color: #8e5251; /* Màu đỏ đậm */
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.login-button:hover {
  /* background-color: #a15d5d; */
  color: var(--red500);
  border: 1px solid var(--red500);
}
