.header {
  display: flex;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background-color: var(--red50);
  height: 60px;
  border-bottom: 1px solid var(--red300);
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
  z-index: 500;
}
.header h1 {
  font-size: 1.7rem;
  color: var(--red600);
  margin-left: 32px;
}
.header-icons svg {
  margin-right: 32px;
  padding-left: 16px;
  border-left: 1px solid var(--gray200);
  color: var(--red400);
  width: 24px;
  height: 24px;
  font-size: 1.5rem;
  cursor: pointer;
}
